<% layout('./layouts/Boilerplate') %>

<div class="fullbody">
  <div class="sidebar1">
    <div class="sidebarnav">
      <div class="sidebarcontent"><%= courseSelected%></div>
      <div class="sidebarcontent">Resources</div>
      <div class="sidebarcontent">Bonus Gifts</div>
      <div class="sidebarcontent">Account</div>
      <div class="sidebarcontent">Contact</div>
    </div>
  </div>
  <div class="sidebar2">
    <div class="yvideo">
      <iframe
        id="embeddvideo"
        src="https://www.youtube.com/embed/HWfRZY8TVJ4"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
