<% if(success && success.length) {%>
<div class="enquirysent"><font color="blue"><%= success %></font></div>
<% } %> <% if(error && error.length) {%>
<div class="enquirysent"><font color="red"><%= error %></font></div>
<% } %>
