<footer class="footer">
  <div class="footcontainer">
    <div class="footcontainer__footer">
      <div class="footcontainer__footer-box">
        <div class="footcontainer__footer-box--element">
          <div class="footcontainer__footer-box--element---img">
            <img
              src="icons/phone.svg"
              alt=""
              class="footcontainer__footer-box--element---img_image"
            />
          </div>
          <div class="footcontainer__footer-box--element---text">
            +91 9644410240
          </div>
        </div>
        <div class="footcontainer__footer-box--element">
          <div class="footcontainer__footer-box--element---img">
            <img
              src="icons/mail.svg"
              alt=""
              class="footcontainer__footer-box--element---img_image"
            />
          </div>
          <div class="footcontainer__footer-box--element---text">
            coach.guitrading@gmail.com
          </div>
        </div>
        <div class="footcontainer__footer-box--element">
          <div class="footcontainer__footer-box--element---img">
            <img
              src="icons/location.svg"
              alt=""
              class="footcontainer__footer-box--element---img_image"
            />
          </div>
          <div class="footcontainer__footer-box--element---text">
            Sector 8, Noida(201305), UP, India
          </div>
        </div>
        <div class="footcontainer__footer-box--element bigmargin">
          <div class="footcontainer__footer-box--element---img">
            <a href="#"
              ><img
                src="icons/facebook.svg"
                alt=""
                class="footcontainer__footer-box--element---img_simage"
            /></a>
          </div>
          <div class="footcontainer__footer-box--element---img">
            <a href="#"
              ><img
                src="icons/instagram.svg"
                alt=""
                class="footcontainer__footer-box--element---img_simage"
            /></a>
          </div>
          <div class="footcontainer__footer-box--element---img">
            <a href="#"
              ><img
                src="icons/telegram.svg"
                alt=""
                class="footcontainer__footer-box--element---img_simage"
            /></a>
          </div>
        </div>
        <div class="footcontainer__footer-box--element smalllmargin">
          <div class="footcontainer__footer-box--element---img">
            <a href="#"
              ><img
                src="icons/youtube.svg"
                alt=""
                class="footcontainer__footer-box--element---img_simage--youtube"
            /></a>
          </div>
          <div class="footcontainer__footer-box--element---img">
            <a href="#"
              ><img
                src="icons/linkedin.svg"
                alt=""
                class="footcontainer__footer-box--element---img_simage"
            /></a>
          </div>
          <div class="footcontainer__footer-box--element---img">
            <a href="#"
              ><img
                src="icons/twitter.svg"
                alt=""
                class="footcontainer__footer-box--element---img_simage"
            /></a>
          </div>
        </div>
      </div>
      <div class="footcontainer__footer-box">
        <div class="footcontainer__footer-box--element footheading">
          Useful Links
        </div>
        <div class="footcontainer__footer-box--element">
          <a href="https://google.com" class="link">Home</a>
        </div>
        <div class="footcontainer__footer-box--element">
          <a href="https://google.com" class="link">About Us </a>
        </div>
        <div class="footcontainer__footer-box--element">
          <a href="https://google.com" class="link">Courses </a>
        </div>
        <div class="footcontainer__footer-box--element">
          <a href="https://google.com" class="link">Blogs </a>
        </div>
        <div class="footcontainer__footer-box--element">
          <a href="https://google.com" class="link">Contact Us </a>
        </div>
      </div>
      <div class="footcontainer__footer-box">
        <div class="footcontainer__footer-box--element footheading">Help</div>
        <div class="footcontainer__footer-box--element">
          <a href="https://google.com" class="link">FAQs</a>
        </div>
        <div class="footcontainer__footer-box--element">
          <a href="https://google.com" class="link">Privacy Policy</a>
        </div>
        <div class="footcontainer__footer-box--element">
          <a href="https://google.com" class="link">Terms & Conditions </a>
        </div>
        <div class="footcontainer__footer-box--element">
          <a href="https://google.com" class="link">Disclaimer</a>
        </div>
      </div>
    </div>
    <div class="footcontainer__copyright">
      2023 | GUI Trading | All Rights Reserved
    </div>
  </div>
</footer>
