<% layout('./layouts/Boilerplate') %>
<section class="introarea">
    <div class="introarea__bg-video">
      <video
        src="images/pexels-tima-miroshnichenko-5377647.mp4"
        class="introarea__bg-video--content"
        autoplay
        muted
        loop
      ></video>
    </div>

    <div class="introarea__content">
      <div class="introarea__content--heading">
        <h1 class="introarea__content--heading-primary">
          Grow your Capital and be a
          <span class="introarea__content--heading-primary--blue"
            >World Class Trader</span
          >

          with
          <span class="introarea__content--heading-primary--blue"
            >Accelerated Learning </span
          >and
          <span class="introarea__content--heading-primary--blue"
            >Holistic Growth
          </span>
        </h1>
        <h2 class="introarea__content--heading-secondary">
          Learn the Secrets of Successful investors in Stock Market
        </h2>
      </div>
      <div class="introarea__content--playvideo">
        <img
          src="icons/3669295_ic_white_filled_play_circle_icon.svg"
          alt=""
          srcset=""
          class="introarea__content--playvideo-image"
        />
      </div>
    </div>
  </section>

  <section class="coursecards">
    <div class="detailheading">
      <div class="detailheading__circle"></div>
      <div class="detailheading__text" id="detailheading__text" >Our Courses</div>
    </div>

    <div class="coursecards__cards">
      <div>
        <div
          class="coursecards__cards-card coursecards__cards-card--rtr black"
        >
          <div class="coursecards__cards-card--level black">Level - 1</div>
          <div class="coursecards__cards-card--name">
            <div class="coursecards__cards-card--name---shortform">RTR</div>
            <div class="coursecards__cards-card--name---fullform">
              Recruit to Ready
            </div>
            <div class="coursecards__cards-card--arrows">
              <img
                src="icons/arrow black.svg"
                alt=""
                class="coursecards__cards-card--arrows---arrow"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="coursecards__cards-card coursecards__cards-card--ctc">
        <div class="coursecards__cards-card--level">Level - 2</div>
        <div class="coursecards__cards-card--name">
          <div class="coursecards__cards-card--name---shortform">CTC</div>
          <div class="coursecards__cards-card--name---fullform">
            Care to Complete
          </div>
          <div class="coursecards__cards-card--arrows">
            <img
              src="icons/arrow white.svg"
              alt=""
              class="coursecards__cards-card--arrows---arrow"
            />
          </div>
        </div>
      </div>
      <div class="coursecards__cards-card coursecards__cards-card--ptp">
        <div class="coursecards__cards-card--level">Level - 3</div>
        <div class="coursecards__cards-card--name">
          <div class="coursecards__cards-card--name---shortform">PTP</div>
          <div class="coursecards__cards-card--name---fullform">
            Path to Perfection
          </div>
          <div class="coursecards__cards-card--arrows">
            <img
              src="icons/arrow white.svg"
              alt=""
              class="coursecards__cards-card--arrows---arrow"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="keyfocus">
    <div class="keyfocus__col1">
      <div class="keyfocus__heading">
        Key Areas <br />
        of Focus
      </div>
    </div>
    <div class="keyfocus__col2">
      <div class="keyfoucs__cards">
        <div class="keyfocus__cards--card">
          <img
            src="icons/1-removebg-preview (1).png"
            alt=""
            class="keyfocus__cards--card-img keyfocus__cards--card-img-1"
          />
        </div>
        <div class="keyfocus__cards--card">
          <img
            src="icons/2-removebg-preview.png"
            alt=""
            class="keyfocus__cards--card-img keyfocus__cards--card-img-2"
          />
        </div>
        <div class="keyfocus__cards--card">
          <img
            src="icons/3-removebg-preview.png"
            alt=""
            class="keyfocus__cards--card-img keyfocus__cards--card-img-3"
          />
        </div>
        <div class="keyfocus__cards--card">
          <img
            src="icons/7-removebg-preview.png"
            alt=""
            class="keyfocus__cards--card-img keyfocus__cards--card-img-4"
          />
        </div>
        <div class="keyfocus__cards--card">
          <img
            src="icons/8-removebg-preview.png"
            alt=""
            class="keyfocus__cards--card-img keyfocus__cards--card-img-5"
          />
        </div>
        <div class="keyfocus__cards--card">
          <img
            src="icons/9-removebg-preview.png"
            alt=""
            class="keyfocus__cards--card-img keyfocus__cards--card-img-6"
          />
        </div>
        <div class="keyfocus__cards--card">
          <img
            src="icons/4-removebg-preview.png"
            alt=""
            class="keyfocus__cards--card-img keyfocus__cards--card-img-7"
          />
        </div>
        <div class="keyfocus__cards--card">
          <img
            src="icons/5-removebg-preview.png"
            alt=""
            class="keyfocus__cards--card-img keyfocus__cards--card-img-8"
          />
        </div>
        <div class="keyfocus__cards--card">
          <img
            src="icons/6-removebg-preview.png"
            alt=""
            class="keyfocus__cards--card-img keyfocus__cards--card-img-9"
          />
        </div>
      </div>
      <div class="keyfocus__col2-image">
        <img src="images/keyfocus.png" alt="" class="keyfocus__col2-image--image">
      </div>
    </div>
  </section>

  <section class="coursedetails">
    <div class="detailheading">
      <div class="detailheading__circle"></div>
      <div class="detailheading__text" id="rtrloc">Courses' Details</div>
    </div>

    <div class="cdetails">
      <div class="cdetails__detail">
        <div class="cdetails__detail--img">
          <img
            src="images/1.png"
            alt=""
            class="cdetails__detail--img---image"
          />
        </div>
        <div class="cdetails__detail--text">
          <div class="cdetails__detail--text---main">
            RTR: Recruit to Ready
          </div>
          <div class="cdetails__detail--text---secondary">
            Level - Beginner
          </div>
          <div class="cdetails__detail--text---detail">
            In this course, you’ll learn how to start from beginning, overcome
            the fear of losing, interact with your mentor and learn to take
            calculated risks.
          </div>
          <div class="cdetails__detail--text---buttons">
            <div class="cdetails__detail--text---buttons----showmore">
              <button class="button btn-green">Show More</button>
            </div>
            <div class="cdetails__detail--text---buttons----enquire">
              <button class="button btn-red " id="ctcloc">Enquire</button>
            </div>
          </div>
        </div>
      </div>
      <div class="cdetails__detail">
        <div class="cdetails__detail--img">
          <img
            src="images/3.png"
            alt=""
            class="cdetails__detail--img---image"
          />
        </div>
        <div class="cdetails__detail--text">
          <div class="cdetails__detail--text---main">
            CTC: Care to Complete
          </div>
          <div class="cdetails__detail--text---secondary">
            Level - Intermediate/Advanced
          </div>
          <div class="cdetails__detail--text---detail">
            In this course, you’ll learn how to maintain Discipline, form
            proper strategies, avoid big losses and overcome anxiety and fear
            of losing.
          </div>
          <div class="cdetails__detail--text---buttons">
            <div class="cdetails__detail--text---buttons----showmore">
              <button class="button btn-green">Show More</button>
            </div>
            <div class="cdetails__detail--text---buttons----enquire">
              <button class="button btn-red" id="ptploc">Enquire</button>
            </div>
          </div>
        </div>
      </div>
      <div class="cdetails__detail">
        <div class="cdetails__detail--img">
          <img
            src="images/4.png"
            alt=""
            class="cdetails__detail--img---image"
          />
        </div>
        <div class="cdetails__detail--text">
          <div class="cdetails__detail--text---main">
            PTP: Path to Perfection
          </div>
          <div class="cdetails__detail--text---secondary">
            Level - Customized and Advanced
          </div>
          <div class="cdetails__detail--text---detail">
            Details about this course will be discussed with the Coach.
            Enquire Now
          </div>
          <div class="cdetails__detail--text---buttons">
            <div class="cdetails__detail--text---buttons">
              <button class="button btn-red">Enquire</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="faqsection">
    <div class="detailheading">
      <div class="detailheading__circle"></div>
      <div class="detailheading__text">Some FAQ's answered by the Coach</div>
    </div>
    <div class="faqs">
      <div class="faqs__faq">
        
        <h1 class="faqs__faq--question">
          Is investing in stock market a gamble or skill?
        


        </h1>
        <p class="faqs__faq--answer ">
          This is the answer of first faq,, ...This is the answer of first faq This is the answer of first faqThis is the answer of first faqThis is the answer of first faqThis is the answer of first faq This is the answer of first faqThis is the answer of firascascst fahis is the answer of first faq,, ...This is the answer of first faq This is the answer of first faqThis is the answer of first faqThis is the answer of first faqThis is the answer of first faq This is the answer of first faqThis is the answer of firascascst faqq
        </p>
      </div>
      <div class="faqs__faq">
        
        <h1 class="faqs__faq--question">
          Is investing in stock market a gamble or skill?
        


        </h1>
        <p class="faqs__faq--answer ">
          This is the answer of first faq,, ...This is the answer of first faq This is the answer of first faqThis is the answer of first faqThis is the answer of first faqThis is the answer of first faq This is the answer of first faqThis is the answer of first faq
        </p>
      </div>
      <div class="faqs__faq">
        
        <h1 class="faqs__faq--question">
          Is investing in stock market a gamble or skill?
        


        </h1>
        <p class="faqs__faq--answer ">
          This is the answer of first faq,, ...This is the answer of first faq This is the answer of first faqThis is the answer of first faqThis is the answer of first faqThis is the answer of first faq This is the answer of first faqThis is the answer of first faq
        </p>
      </div>
      <div class="faqs__faq">
        
        <h1 class="faqs__faq--question">
          Is investing in stock market a gamble or skill?
        


        </h1>
        <p class="faqs__faq--answer ">
          This is the answer of first faq,, ...This is the answer of first faq This is the answer of first faqThis is the answer of first faqThis is the answer of first faqThis is the answer of first faq This is the answer of first faqThis is the answer of first faq
        </p>
      </div>
      <div class="showfaqs hidden">
      <div class="faqs__faq">
        
        <h1 class="faqs__faq--question">
          Is investing in stock market a gamble or skill?
        


        </h1>
        <p class="faqs__faq--answer ">
          This is the answer of first faq,, ...This is the answer of first faq This is the answer of first faqThis is the answer of first faqThis is the answer of first faqThis is the answer of first faq This is the answer of first faqThis is the answer of first faq
        </p>
      </div>
      <div class="faqs__faq">
        
        <h1 class="faqs__faq--question">
          Is investing in stock market a gamble or skill?
        


        </h1>
        <p class="faqs__faq--answer ">
          This is the answer of first faq,, ...This is the answer of first faq This is the answer of first faqThis is the answer of first faqThis is the answer of first faqThis is the answer of first faq This is the answer of first faqThis is the answer of first faq
        </p>
      </div>
      <div class="faqs__faq">
        
        <h1 class="faqs__faq--question">
          Is investing in stock market a gamble or skill?
        


        </h1>
        <p class="faqs__faq--answer ">
          This is the answer of first faq,, ...This is the answer of first faq This is the answer of first faqThis is the answer of first faqThis is the answer of first faqThis is the answer of first faq This is the answer of first faqThis is the answer of first faq
        </p>
      </div>
      <div class="faqs__faq">
        
        <h1 class="faqs__faq--question">
          Is investing in stock market a gamble or skill?
        


        </h1>
        <p class="faqs__faq--answer ">
          This is the answer of first faq,, ...This is the answer of first faq This is the answer of first faqThis is the answer of first faqThis is the answer of first faqThis is the answer of first faq This is the answer of first faqThis is the answer of first faq
        </p>
      </div></div>
      <div class="faqs__showmore">Show More</div>
    </div>
  </section>

  <section class="queries">
    <div class="query">
      <div class="query__details">
        <div class="query__details--heading">Having Other Doubts</div>
        <div class="query__details--description">
          Our team will be happy to assist you and we will reach out to you to
          understand your unique problems and help you with a customized
          solution which will be easy for you to implement.
        </div>
        <div class="query__details--button"><button class="button btn-red ">Connect Now</button></div>
      </div>
      <div class="query__img">
        <img src="images/onfused.png" alt="" class="query__img--image" />
      </div>
    </div>
  </section>

  <section class="reviews">
    <div class="bg-video">
      <video
        src="images/finance-148020.mp4"
        class="bg-video--content"
        autoplay
        muted
        loop
      ></video>
    </div>
    <div class="review">
      <div class="review__heading">We Make People Genuinly Satisfied</div>
    </div>

    <div class="review__box">
      <figure class="review__box--shape">
        <img src="images/photo.png" alt="" class="review__box--image" />
        <figcaption class="review__box--caption">Ambarish</figcaption>
      </figure>
      <div class="review__box--text">
        <h3 class="review__box--text---heading">
          I Enjoyed the Journey and My Progress throughout the Program
        </h3>
        <p class="review__box--text---description">
          "I was suffering from mental blocks such as <b> Anger </b>,
          <b> Fear</b> and <b> Lack of Confidence</b> etc.. With the effective
          methods to deal with my psychological issues, I enjoyed the journey
          and my progress throughout the program"
        </p>
      </div>
    </div>

    <div class="changereview">
      <span class="changereview-arrow changereview-arrow--previous"
        >&larr;</span
      >
      <span class="changereview-arrow changereview-arrow--next"> &rarr;</span>
    </div>
  </section>

  <section class="coach">
    <div class="detailheading">
      <div class="detailheading__circle"></div>
      <div class="detailheading__text">Know your Coach</div>
    </div>

    <div class="kyc">
      <div class="kyc__divison"></div>
      <div class="kyc__img">
        <img
          src="images/Raw-transformed_2x-removebg-preview.png"
          alt=""
          class="kyc__img--image"
        />
        <img
          src="images/sir2.png"
          alt=""
          class="kyc__img--image--2"
        />
      </div>
      <div class="kyc__details">
        <div class="kyc__details--name">Sanjeev Gaur</div>
        <div class="kyc__details--achievements">
          <div class="kyc__details--achievements---1 ">
            <ul class="kyc__details--achievements---1_skills hidden">
              <li class="kyc__details--achievements---1_skills-skill">
                Founder: Gui Trading
              </li>
              <li class="kyc__details--achievements---1_skills-skill">
                NLP Practitioner
              </li>
              <li class="kyc__details--achievements---1_skills-skill">
                Psychology Coach
              </li>
              <li class="kyc__details--achievements---1_skills-skill">
                Professional Trader
              </li>
            </ul>
            <ul class="kyc__details--achievements---1_experiences hidden">
              <li
                class="kyc__details--achievements---1_experiences-experience"
              >
                <div
                  class="kyc__details--achievements---1_experiences-experience--designation"
                >IIT Bombay Alumunus</div>
                <div
                  class="kyc__details--achievements---1_experiences-experience--place"
                >
                  
                </div>
              </li>
              <li
                class="kyc__details--achievements---1_experiences-experience"
              >
                <div
                  class="kyc__details--achievements---1_experiences-experience--designation"
                >
                  Market Maker
                </div>
                <div
                  class="kyc__details--achievements---1_experiences-experience--place"
                >
                  Optiver, Amsterdam
                </div>
              </li>
              <li
                class="kyc__details--achievements---1_experiences-experience"
              >
                <div
                  class="kyc__details--achievements---1_experiences-experience--designation"
                >
                  Bond Trader
                </div>
                <div
                  class="kyc__details--achievements---1_experiences-experience--place"
                >
                  Futures First, Jaipur
                </div>
              </li>
              <li
                class="kyc__details--achievements---1_experiences-experience"
              >
                <div
                  class="kyc__details--achievements---1_experiences-experience--designation"
                >
                  Bond & Commodity Trader
                </div>
                <div
                  class="kyc__details--achievements---1_experiences-experience--place"
                >
                  Oak Capital Management, Mumbai
                </li>
              </div>
            </ul>
          
          <div class="kyc__details--achievements---2 ">
              <div class="kyc__details--achievements---2_tools">
                  <div class="kyc__details--achievements---2_tools-tool">
                      <div class="kyc__details--achievements---2_tools-tool--icon">
                          <img src="icons/laptop.svg" alt="" class="kyc__details--achievements---2_tools-tool--icon---image">
                      </div>
                      <div class="kyc__details--achievements---2_tools-tool--name">30+ Webinars in last 2 Years</div>
                  </div>
                  <div class="kyc__details--achievements---2_tools-tool">
                      <div class="kyc__details--achievements---2_tools-tool--icon">
                          <img src="icons/cash.svg" alt="" class="kyc__details--achievements---2_tools-tool--icon---image">
                      </div>
                      <div class="kyc__details--achievements---2_tools-tool--name">Multiple Members in 1-Lakh Club</div>
                  </div>
                  <div class="kyc__details--achievements---2_tools-tool">
                      <div class="kyc__details--achievements---2_tools-tool--icon">
                          <img src="icons/people.svg" alt="" class="kyc__details--achievements---2_tools-tool--icon---image">
                      </div>
                      <div class="kyc__details--achievements---2_tools-tool--name">20K Traders and Investors reached in past 2 Years</div>
                  </div>
              </div>
              <div class="kyc__details--achievements---2_tools">
                  <div class="kyc__details--achievements---2_tools-tool">
                      <div class="kyc__details--achievements---2_tools-tool--icon">
                          <img src="icons/settings.svg" alt="" class="kyc__details--achievements---2_tools-tool--icon---image">
                      </div>
                      <div class="kyc__details--achievements---2_tools-tool--name">Dozens of In-House Tools to help you</div>
                  </div>
                  <div class="kyc__details--achievements---2_tools-tool">
                      <div class="kyc__details--achievements---2_tools-tool--icon">
                          <img src="icons/teacher.svg" alt="" class="kyc__details--achievements---2_tools-tool--icon---image">
                      </div>
                      <div class="kyc__details--achievements---2_tools-tool--name">10+ Years Teaching & Training Experience</div>
                  </div>
                  <div class="kyc__details--achievements---2_tools-tool">
                      <div class="kyc__details--achievements---2_tools-tool--icon">
                          <img src="icons/tick.svg" alt="" class="kyc__details--achievements---2_tools-tool--icon---image">
                      </div>
                      <div class="kyc__details--achievements---2_tools-tool--name smallmarginbottom">Trading Experience of 4 different countries’ asset classes</div>
                  </div>
              </div>
          </div>
      </div>
        </div>
      </div>
    </div>
  </section>

  <section class="hiddenelements">
    <div class="hiddenelements__comingsoon hidden ">
      <div class="hiddenelements__comingsoon-cross">x</div>
      <div class="hiddenelements__comingsoon-text">Coming Soon</div>

    </div>
  </section>







